.intro {
  padding: 20px 0;
  text-align: center;

  &__contain {
    @extend .container;

    .intro__content {
      @extend .row;

      &--text {
        @extend .col-md-4;
        @extend .col-md-offset-1;

      }

      .intro__video {
        @extend .col-md-6;
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 60px 0;
    text-align: left;
  }
}