.last-cta {
  &__contain {
    @extend .container;

    .last-cta_header {
      text-align: center;
    }

    .last-cta__content {
      @extend .row;

      &--col {
        @extend .col-md-12;
        text-align: center;

        border-top: solid 1px $aat-border-secondary;
        padding-top: 60px;

      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    &__contain {
      .last-cta__content {
        &--col {
          text-align: center;

        }
      }
    }

  }
}